%h1.text-center RESULTS
#sim{:"data-id" => @simulation.id}
.panel
  .panel-heading Times
  .panel-body.clearfix
    #time.chart.pull-left{:"data-type" => "line", :"data-title" => "Sent time", :"data-yAxis" => "Time (ms)"}
    %dl.pull-right.dl-horizontal
      %dt Mean:
      %dd
        %span#time-mean.label.label-warning
        %span ms
      %dt Max:
      %dd
        %span#time-max.label.label-danger
        %span ms
      %dt Last:
      %dd
        %span#time-last.label.label-info
        %span ms
.panel
  .panel-heading Ratios
  .panel-body.clearfix
    #ratios.chart.pull-left{:"data-type" => "pie", :"data-title" => "Ratios", :"data-yAxis" => "(Resulting packes / Sent packets)"}
    %dl.pull-right.dl-horizontal
      %dt Mean:
      %dd
        #ratio-mean.label.label-info
