%h1.text-center RESULTS
#sim{:"data-id" => @simulation.id}
.panel
  .panel-heading Times
  .panel-body.clearfix
    #time.chart.pull-left{:"data-type" => "column", :"data-title" => "Sent time", :"data-yAxis" => "Time (ms)"}
    %dl.pull-right.dl-horizontal
      %dt Mean:
      %dd
        #time-mean.label.label-info
.panel
  .panel-heading Ratios
  .panel-body.clearfix
    #ratios.chart.pull-left{:"data-type" => "column", :"data-title" => "Ratios", :"data-yAxis" => "(Resulting packes / Sent packets)"}
    %dl.pull-right.dl-horizontal
      %dt Mean:
      %dd
        #ratio-mean.label.label-info